<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <link rel="stylesheet" href="style-navs.css">
</head>
<body>
<ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/albums">Albums</a></li>
    <li><a href="/songs">All Songs</a></li>
    <li><a href="#about">About</a></li>
</ul>
<div>
    <h1>Title: <span th:text="${album.title}"></span></h1>
    <h2>Artist: <span th:text="${album.artist}"></span></h2>
    <p>Song Count: <span th:text="${album.songCount}"></span></p>
    <p>Length (seconds): <span th:text="${album.lengthInSecond}"></span></p>
    <img th:src="${album.imageUrl}" style="width:auto; height:100px">
    <div>Songs:</div>
    <ul th:each="song : ${album.songs}">
        <li th:text="${song.title}"></li>
    </ul>
</div>

</body>
</html>