<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style-navs.css">

</head>
<body>
<ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/albums">Albums</a></li>
    <li><a href="/songs">All Songs</a></li>
    <li><a href="#about">About</a></li>
</ul>
<h1>Search for Song</h1>
<form action="/song" method="get">
    <label for="song-title">Song title:</label>
    <input type="text" id="song-title" name="title"><br><br>
    <input type="submit" value="Search">
</form>
<div  th:each="song:${songs}">
    <h1 > Song Title:  <span th:text="${song.title}"></span></h1>
    <h13 > Length(seconds):  <span th:text="${song.lengthInSeconds}"></span></h13>
    <h3 > Track Number:  <span th:text="${song.trackNumber}"></span></h3>
</div>
</body>
</html>